html {
	box-sizing: border-box;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	font-family: "Roboto", sans-serif;
	width: 1280px;
	margin: 0 auto;
	color: #2c2c2c;
}

/* header */
.header .logo-wrap {
	margin-top: 62px;
	margin-bottom: 38px;
}

.header .logo-link {
	text-decoration: none;
	font-weight: 400;
	font-size: 80px;
	line-height: 1.175;
	color: #000;
}

.header .logo-link-colored {
	color: #4acbff;
}

.header .header-menu {
	margin-bottom: 48px;
	background-color: #35444f;
}

.header .menu-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0 -40px;
}

.header .menu-list .list-item:first-child {
	border-left: 1px solid #fff;
}

.header .menu-list .list-item {
	padding: 26px 40px 18px;
	border-right: 1px solid #fff;
}

.header .menu-list .list-item:hover,
.header .menu-list .list-item:focus {
	background-color: #222f3a;
	cursor: pointer;
}

.header .menu-list .item-link {
	text-decoration: none;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.16;
	color: #fff;
}

/* main */
.content-bull {
	display: flex;
	flex-direction: row;
}

.content-bull .aside-list {
	margin-right: 52px;
	border: 1px solid #000;
	width: 344px;
	padding: 0;
	list-style: none;
}

.content-bull .aside-list .list-item {
	padding-top: 26px;
	padding-bottom: 26px;
	padding-left: 44px;
}

.content-bull .aside-list .list-item:hover,
.content-bull .aside-list .list-item:focus {
	padding-left: 64px;
	background-color: #dbdbdb;
	cursor: pointer;
}

.content-bull .aside-list .list-item:hover .item-link,
.content-bull .aside-list .list-item:focus .item-link {
	color: #000;
}

.content-bull .aside-list .item-link {
	font-weight: 400;
	font-size: 27px;
	line-height: 1;
	color: #35444f;
}

.content-bull .right-content .image-content {
	margin-bottom: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 74px;
	padding-bottom: 74px;
	border: 1px solid #000;
}

.content-bull .right-content .image-wrap {
	width: 320px;
	height: 380px;
	/* overflow: hidden; */
	/* картинка не будет выходить за рамки размера wrap - будет обрезатся картинка */
}

.content-bull .image-wrap .image {
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
}

.content-bull .image-wrap .image:hover {
	transform: scale(1.1);
}

.content-bull .right-content .text-content {
	margin-bottom: 54px;
}

.content-bull .text-content .text {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.32;
	color: #2c2c2c;
}

.content-bull .text-content .text:not(:last-child) {
	margin-bottom: 34px;
}

/* footer */
.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px 40px;
	background: rgba(99, 105, 110, 0.48);
}

.footer .footer-list {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin-right: -12px;
	margin-left: -12px;
	list-style: none;
}

.footer .footer-list .list-item {
	padding-right: 12px;
	padding-left: 12px;
}

.footer .list-item .item-link {
	text-decoration: none;
	font-weight: 400;
	font-size: 28px;
	line-height: 1;
	color: #0c1927;
	padding-bottom: 6px;
	/* растояние подчеркивания */
}

.footer .list-item .item-link:hover,
.footer .list-item .item-link:focus {
	color: #3181a6;
	border-bottom: 1px solid #3181a6;
}

.footer .text-wrap .text {
	font-weight: 400;
	font-size: 24px;
	line-height: 1;
}